<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="container device">
    <div class="device_frame w-50 container-fluid text-center">
      <p class="my-4">ログイン</h2>
      <div class="field form-row pt-1">
        <span class="badge text-bg-danger">必須</span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "メールアドレス"%>
      </div>

      <div class="field form-row pt-1">
        <span class="badge text-bg-danger">必須</span>
        <%= f.password_field :password, autocomplete: "current-password" ,placeholder: "パスワード"%>
      </div>

      <div class="actions col-6 mx-auto d-grid">
        <input type="submit" name="commit" value="ログイン" class="btn btn-primary my-3 " data-disable-with="ログイン" />
      </div>
      <a href="/users/sign_up">新しいアカウントを作成</a><br />
    </div>
  </div>
<% end %>



